<div class="container">
  <h1>My lists</h1>
  <%= link_to "Create a movie list", new_list_path %>
  <br>
  <ul>
    <% @lists.each do |list| %>
      <%= link_to list.name, list_path(list) %>
    <% end %>
  </ul>
</div>
